# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app						

# XList special files
*.swp
*.[oa]
*.so*
*~
*.Po
*.Plo
*.lo
*.la
*.lai
Makefile
*.cache
*.m4
Makefile.in
config.*
configure
depcomp
install-sh
libtool
ltmain.sh
missing
compile
stamp-h1
.deps
*.pc
*.spec
.libs/*
*.info
examples/.libs/*
examples/client
examples/client-tls
examples/server
examples/server-tls
.idea

docs/html/*
docs/latex/*
*.pem
gnutls/x509/client
gnutls/x509/server

